/**
 * This file should contain frontend styles that 
 * will be applied to all module instances.
 */

.fl-image-carousel .fl-content-main .fl-content-carousel {
    background: #fff;
}

.fl-image-carousel .fl-content-main .fl-content-carousel .fl-carousel-item {
    float: left;
    width: 25%;
    margin: 0;
    text-align: center;
    position: relative;
}

.fl-image-carousel .fl-content-main .fl-content-carousel .fl-carousel-item a {
    display: block;
}

.fl-image-carousel .fl-content-main .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    padding-top: 0;
}

.fl-image-carousel .fl-content-main .bx-wrapper {
    margin-bottom: 20px;
}

.fl-image-carousel .fl-content-main .bx-wrapper .bx-pager-item {
    vertical-align: middle;
}